%div{:id => "message_main", :class => "message"}
  .upper-message{id: message.id}
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    / - binding.pry
    = image_tag message.image, class: 'lower-message__image' if message.image.present?


/ if( 2 == (1 + 1)) {console.log("2")} else {console.log("not 2")};
