.notification
  .notice チャットグループが作成されました。
  .wrapper
    .side-ber
      .header
        %h3.header__name
          Sample
        %ul.header__lists
          %li.list
          %a{:href => "/groups/new"}
            %i.fa.fa-pencill-square-o.icon
            /       \::before
            %li.list
            %a{:href => "/users/4352/edit"}
            %i.fa.fa-cog.icon
            /       \::before
      .groups
        .group
          %a{:href => "/groups/11172/messages"}
            .group__name
              サンプル
            .group__message
              よろしくお願いします
    / - ここからchatのところ
    .chat
      .header
        .left-header
          .left-header__title
            sampleグループ
          %ul.left-header__members
            Members:
            %li.member
              ryosukemaehira
          .right-header
            %a.right-header__buttom{:href => "11172/edit"} edit
        / .right-header
        /   %a.right-header__buttom{:href => "11172/edit"} Edit
      .contents
        .messages.js-messages
          ryosukemaehira
          .message
            なるほど
        .messages.js-messages
          ryosukemaehira
          .message
            水色きらい
        .messages.js-messages
          ryosukemaehira
          .message
            command Enterで送信したい感ある
        .messages.js-messages
          ryosukemaehira
          .message
            お腹すいた
      .footer
        .form
          %textarea{:placeholder => "type a message"}
          %a.square_btn{:href => "#"}
            %i.fa.fa-chevron-right
            Send
            %label.form__mask__image{:for => "message_image"}
    /             / ここはコピペしていいか迷うので保留
    /             .from__mask
    /
    /                 %i.fa.fa-picture-o.icon
    /                   \::before
    /                 / ここからしたは著作権的によろしくないかも？変える必要あるかも。
    /                 %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}/
    /             %input.form_submit{"data-disble-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
