.notification
  .notice
    チャットグループが作成されました。
  .wrapper
    .side-ber
      .header
        .header__name
          Sample
        .header__icon
          =fa_icon "pencil-square-o"
          =fa_icon "cog"

      .groups
        .group
          %a{:href => "/groups/11172/messages"}
            .group__name
              サンプル
            .group__message
              よろしくお願いします
    / - ここからchatのところ
    .chat
      .header
        .left-header
          .left-header__title
            sampleグループ
            .Members
              Members:
              %ul.left-header__members
                %li.member
                  ryosukemaehira
          .right-header
            .right-header__buttoms
              %a.right-header__buttom{:href => "11172/edit"}
                %p Edit
      .contents
        .messages.js-messages
          ryosukemaehira
          .message
            なるほど
        .messages.js-messages
          ryosukemaehira
          .message
            水色きらい
        .messages.js-messages
          ryosukemaehira
          .message
            command Enterで送信したい感ある
        .messages.js-messages
          ryosukemaehira
          .message
            お腹すいた
      .footer
        .form
          %textarea{:placeholder => "type a message"}
          .square_buttom
            %a.square_btn{:href => "#"}
              %p Send
          .form__mask
            %label.form__mask__image{:for => "message_image"}
            %i.fa.fa-picture-o.icon

