.form
  %input{:placeholder => "名前を入力してください", :type => "text"}/
  %br/
  %textarea{:placeholder => "予約日時やご要望をお書きください"}
  %br/
  %label
    %a.square_btn{:href => "#"}
      %i.fa.fa-chevron-right
      BUTTON
