%i.fas.fa-edit
%i.fas.fa-cog
/
  <div class= "form" >
  <input type="text" placeholder="名前を入力してください"><br>
  <textarea placeholder="予約日時やご要望をお書きください"></textarea><br>
  <label>
  <a href="#" class="square_btn">
  <i class="fa fa-chevron-right"></i> BUTTON
  </a>

      /                   \::before

    /             / ここはコピペしていいか迷うので保留
    /             .from__mask
    /
    /                 %i.fa.fa-picture-o.icon
    /                   \::before
    /                 / ここからしたは著作権的によろしくないかも？変える必要あるかも。
    /                 %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}/

     / %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}
    /             %input.form_submit{"data-disble-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/

