<div class= "form" >
          <input type="text" placeholder="名前を入力してください"><br>
          <textarea placeholder="予約日時やご要望をお書きください"></textarea><br>
          <label>
<a href="#" class="square_btn">
  <i class="fa fa-chevron-right"></i> BUTTON
</a>
