<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>ChatSpace</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="vBqRv4om1tvcQ/1QF0HfCL1aYDsgBsDpSA+0xZoD3CKhVFTX44402TEwqPQ4BPeviEc7SxqXYkeEQ6dzHJA1kg==>">
    <link rel="stylesheet" media="all" href="application.scss" data-turbolinks-track="reload">">

    <script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer></script>

  </head>
  <body>
    <div class="notification">
      <div class="notice">チャットグループが作成されました。</div>
    </div>

    <div class="wrapper">
      <div class="side-ber">
        <div class="header">
          <h3 class="header__name">
            Sample
          </h3>
          <ul class="header__lists">
            <li class=list>
              <a href="/groups/new">
                <i class="fa fa-pencill-square-o icon">
                  ::before
                </i>
              </a>
            </li>
            <li class="list">
              <a href="/users/4352/edit">
                <i class="fa fa-cog icon">
                  ::before
                </i>
              </a>
            </li>
          </ul>
        </div>

        <div class="groups">
          <div class="group">
            <a href="/groups/11172/messages">
              <div class="group__name">
                サンプル
              </div>
              <div class="group__message">
                よろしくお願いします
              </div>
            </a>
          </div>
        </div>
      </div>
<!--- ここからchatのところ-->
      <div class="chat">
        <div class="header">
          <div class="left-header">
            <div class="left-header__title">
              sample
            </div>
            <div class="left-header__members">
              Members: seo neko
            </div>
          <div class="rigth-header">
          </div>
        <div class="contents">
        <div class="footer">

          </div>
          </div>
          </div>

        </div>
      </div>


    </div>
  </body>
</html>

