@import "./clearfix";

.chat {
  width: calc(100vw - 300px);
  margin-left: 300px;

  .header {
    height: 100px;
    width: calc(100vw - 300px);
    background-color: white;
    padding: 0 40px;
    box-sizing: border-box;
    .left-header {
      height: 100px;
      width: calc(100vw - 70%);
      background-color: white;
      left: 600px;
      float: left;

      .left-header__title {
        font-size: 20px;
        color: #333333;
        padding: 35px 0px 0px 0px;

        .Members {
          font-size: 12px;
          color: #999999;
          background-color: white;
          padding: 15px 0px 0px 0px;

          .left-header__members {
            font-size: 12px;
            color: #999999;
            padding: 0px 0px 0px 40px;
            left: 40px;
            display: flex;

              .member {
              font-size: 12px;
              color: #999999;
              margin: -17px 0px 0px 31px;
            }
          }
        }
      }
    }

    .right-header {
      text-align:center;
      float: right;
      color: #38AEF0;
      .right-header__buttoms {
        height: 40px;
        width: 60px;
        line-height: 40px;
        background-color: white;
        margin: 28px 0px;
        .right-header__buttom {
          border: 1px solid;
          border-color: #38AEF0;
          text-align: center;
          padding: 10px 0px;
          width: 71px;
          float: right;
          .right-header__buttom__edit {
            text-decoration: none;
            text-align: center;
            margin: 20px 20px;
            color: #38AEF0;
          }
        }
      }
    }
  }

  .contents {
    height: 810px;
    width: calc(100vw - 300px);
    background-color: #EEEEEE;
    top: 100px;
    overflow: scroll;
    .message {
      padding: 0px 40px 0px 0px;
      .upper-message {
        @include clearfix();
        padding: 46px 0px 15px 40px;
        .upper-message__user-name {
          color: #434A54;
          font-weight: bold;
          font-size: 16px;
          float: left;
        }
        .upper-message__date {
          float: left;
          display: inline-block;
          font-size: 12px;
          color: #999999;
          width: 200px;
          margin-left: 10px;
        }
      }
      .lower-message {
        .lower-message__content {
          font-size: 14px;
          color: #434A54;
          padding: 0px 0px 0px 40px;
        }
      }
    }
  }

  .footer {
    height: 90px;
    width: 100%;
    background-color: #AAAAAA;
    .form {
      height: 90px;
      width: calc(100vw - 300px);
      padding: 20px 40px;
      box-sizing: border-box;
      .form__message {
        height: 50px;
        width:  calc(100% - 153px);
        padding-left: 10px;
        vertical-align: middle;
        font-size: 16px;
        color: #434A54;
        float: left;
        border: none;
      }

      .form__mask {
        height: 50px;
        float: left;
        background-color: white;
        padding: 0px 10px 0px 0px;
        color: black;

        .form__mask__image {
        }
        .hidden {
          display: none;
        }
        .fa {
          clear: left;
          padding: 17px 0px;
          color: black;
        }
      }

      .form__submit {
        height: 50px;
        color: white;
        background-color: #38AEF0;
        padding: 0 30px;
        margin: 0px 0px 0px 15px;
        float: right;
        border: none;
      }
    }
  }
}

