// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  &:after{
    display: block;
    content: '';
    // clear: both;
  }

  .notification {
    background-color: #38AEF0;
    height: 40px;
    width: 100%;
    top: 0;
    padding: 0 10px;
    color: #FFFFFF;
    text-align: center;
    .notice {
      color: #FFFFFF;
      font-size: 20px;
    }
  }

  .side-bar {
    background-color: #2f3e51;
    box-sizing: border-box;
    height: 1000px;
    width: 300px;
    float: left;
    // padding: 0px, 20px ,0px;
    .header {
      height: 100px;
      background-color: #253141;
      padding: 0px 20px 0px 20px;
      .header__name {
        // height: 100px;
        // width: 260px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        // padding: 0px 20px 0 20px;
        line-height: 106px;
        float: left;
        display:inline-block;
      }
      .header__lists {
        float: right;
        .list {
          height: 100px;
          width: 16px;
          .fa {
            color: white;
            float: right;
            vertical-align: middle;
            line-height: 106px;
            display:inline-block;
          }
        }
      }
    }

    .group {
      height: 900px;
        .group__name {
          font-size: 15px;
          color: #FFFFFF;
          padding: 20px 20px 5px 20px;
        }
        .group__message {
          font-size: 11px;
          color: #FFFFFF;
          padding: 0px 20px 40px 20px;
        }
    }
  }
}
